* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #3188e0;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
}

#logoutBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.livros-disponiveis, .livros-alugados {
    width: 45%;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: white;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4e99e5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
